.navigation-bar {
    display: flex;
    flex-direction: column;
    background-color: rgb(34, 66, 124);
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    height: 100%;
}

.menu-item {
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 5px; 
}

.sub-menu-item {
    cursor: pointer;
    margin-bottom: 5px;
    border-radius: 5px; 
}

.logout-button {
    cursor: pointer;
    margin-top: auto; 
    font-size: 18px;
    border-radius: 5px; 
    background-color: transparent;
    color: #fff; 
    border: 1px solid #fff; 
    padding: 8px 16px; 
}

.menu-item:hover,
.sub-menu-item:hover {
    background-color: rgba(255, 255, 255, 0.1); 
    transition: background-color 0.3s ease; 
}

.logout-button:hover {
    background-color: rgba(255, 255, 255, 0.1); 
    transition: background-color 0.3s ease; 
}

.background-image {
    top: 0;
    left: 0;
    width: 40%; /* Reducir a la mitad el ancho */
    height: auto; /* Mantener la proporción de aspecto */
    
}